/* *RESET U/menghilangkan m dan p nya */
*{
    /* margin: 0; */
    padding: 0;
    line-height: 0;
}

body{
    background-color: darkgray;
    text-align: center;
}

h1 {
    font-family:fantasy;
    font-size: 50px;
    margin-top: 30px;
    color: white;
    text-shadow: 1.5px 1.5px 0 #333, 0px 1.5px 0 #333, -1.5px -1.5px 0 #333, -1.5px -1.5px 0 #333, -1.5px 1.5px 0 #333, 1.5px -1.5px 0 #333, 0.7778174593px 0.7778174593px 0 #aaaaaa, 1.5556349186px 1.5556349186px 0 #aaaaaa, 2.3334523779px 2.3334523779px 0 #aaaaaa, 3.1112698372px 3.1112698372px 0 #aaaaaa, 3.8890872965px 3.8890872965px 0 #aaaaaa, 4.6669047558px 4.6669047558px 0 #aaaaaa, 5.4447222151px 5.4447222151px 0 #aaaaaa, 6.2225396744px 6.2225396744px 0 #aaaaaa, 7.0003571337px 7.0003571337px 0 #aaaaaa, 7.7781745931px 7.7781745931px 0 #aaaaaa;
}
.container{
    width: 600px;
    margin: auto;
    border: 5px solid white;

    overflow: auto;
}
.kecil{
    width: 200px;
    float: left;
    border: 2px solid white;
    box-sizing: border-box;
}
.kecil:hover{
    opacity: 0.5;
    cursor: pointer;
}

/* animation img fade*/
@keyframes fadeIn{
    /* masukan perintahnya*/
    to {
        opacity: 1;
    }
}

.fade{
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}
.active{
    opacity: 0.5;
}